<h2>차량 관리</h2>

<ul class="guide">
  <li>전시되는 차량의 정보를 관리합니다.</li>
  <li>모바일 앱에서 해당 차량의 상세 정보로 보여집니다.</li>
</ul>

<div class="action_container">
  <%= link_to '새로 등록하기', new_admin_car_path %>
  |
  <%= link_to "플리커에 사진 일괄 업로드", batch_upload_to_flickr_admin_cars_path, :method => "put", :remote => true, :id => "batch_upload_link" %>
  |
  <%= link_to "엑셀파일로 다운로드", export_to_excel_admin_cars_path %>
</div>

<div class="search_container">
  <%= form_for @search, :url => [:admin, :cars],
        :html => { :method => :get, :class => "search_form" } do |f| %>
    <ul>
      <li>
        <%= f.label :name_like, "차이름" %>
        <%= f.text_field :name_like %>
      </li>
      <li>
        <%= f.label :company_id_eq, "제조사" %>
        <%= f.select :company_id_eq, grouped_options_for_select(grouped_company_collection, @search.company_id_eq), :include_blank => true %>
      </li>
      <li class="action">
        <%= f.submit "찾기" %>
      </li>
    </ul>
  <% end %>
</div>


<table class="cars">
  <thead>
    <tr>
      <th class="photo">대표 사진</th>
      <th class="company_name">제조사</th>
      <th class="name">차명</th>
      <th class="voice_stream_url">음성 URL</th>
      <th class="video_stream_url">영상 URL</th>
      <th class="flickr_url">Flickr URL</th>
      <th class="photos">연관 사진</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <%= render 'admin/cars/tr_car', :car => car %>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@cars) %>


<script type="text/javascript">
$("batch_upload_link").observe("click", function(event){
  $(event.target).replace("Now processing..");
});
</script>
