<h1>차량 관리</h1>

<div class="action_container">
  <%= link_to '새로 등록하기', new_admin_car_path %>
</div>

<table class="cars">
  <thead>
    <tr>
      <th class="company_name">제조사</th>
      <th class="name">차명</th>
      <th class="voice_stream_url">음성 URL</th>
      <th class="video_stream_url">영상 URL</th>
      <th class="photo">대표 사진</th>
      <th class="photos">연관 사진</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td class="company_name"><%= display_company_name(car) %></td>
        <td class="name"><%= car.name %></td>
        <td class="voice_stream_url"><%= car.voice_stream_url %></td>
        <td class="video_stream_url"><%= car.video_stream_url %></td>
        <td class="photo">
          <%= image_tag car.image_raw.url(:thumb, false) %>
        </td>
        <td class="photos">
          <%= link_to number_with_delimiter(car.photos.size), admin_photos_path(:car_id => car.id) %>
        </td>
        <td class="actions">
          <%= link_to 'Edit', edit_admin_car_path(car) %>
          <%= link_to 'Destroy', [:admin, car], :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

