<%= form_for [:admin, @company], :html => { :multipart => true, :class => "table_form" } do |f| %>

  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this admin_company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category, "참가분야" %>
    <%= f.select :category, category_collection, :include_blank => false %>
  </div>
  <div class="field">
    <%= f.label :name, "회사명" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :booth_code, "부스번호" %>
    <%= f.text_field :booth_code %>
  </div>
  <div class="field">
    <%= f.label :contact, "연락처" %>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :address, "주소" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :product, "출품" %>
    <%= f.text_field :product %>
    <span class="hint">전시회에 출품하는 제품입니다. 예)K5, K7, 모닝</span>
  </div>
  <div class="field">
    <%= f.label :desc, "설명" %>
    <%= f.text_area :desc, :size => "40x4" %>
  </div>
  <div class="field">
    <%= f.label :site_url, "사이트 URL" %>
    <%= f.text_field :site_url %>
    <span class="hint">예) http://wapl.co.kr</span>
  </div>

  <div class="field">
    <%= f.label :image_raw, "로고파일" %>
    <%= f.file_field :image_raw %>
  </div>
  <div class="image_preview">
    <% if @company.image_raw.file? %>
      <%= image_tag @company.image_raw.url(:thumb, false) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :published, "앱에 노출?" %>
    <%= f.check_box :published %> 예
  </div>
  <div class="field">
    <%= f.label :priority, "정렬순위" %>
    <%= f.text_field :priority, :size => 5, :maxlength => 5 %>
    <span class="hint">100이 기본값입니다. 작은 값일수록 상위로 정렬됩니다.</span>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
