<h2>업체관리</h2>

<ul class="guide">
  <li>참가업체 정보를 관리합니다.</li>
  <li>모바일 앱에서는 참가업체 목록, 보기에 적용됩니다.</li>
</ul>

<div class="action_container">
  <%= link_to "업체 추가하기", new_admin_company_path %>
  |
  <%= link_to "플리커에 사진 일괄 업로드", batch_upload_to_flickr_admin_companies_path, :method => "put", :remote => true, :id => "batch_upload_link" %>
</div>

<div class="search_container">
  <%= form_for @search, :url => [:admin, :companies],
        :html => { :method => :get, :class => "search_form" } do |f| %>
    <ul>
      <li>
        <%= f.label :name_like, "업체명" %>
        <%= f.text_field :name_like %>
      </li>
      <li>
        <%= f.label :booth_code_like, "부스번호" %>
        <%= f.text_field :booth_code_like %>
      </li>
      <li>
        <%= f.label :category_eq, "참가분야" %>
        <%= f.select :category_eq, [["완성차", "car"], ["부품업체", "component"], ["용품업체", "goods"]], :include_blank => true %>
      </li>
      <li class="action">
        <%= f.submit "찾기" %>
      </li>
    </ul>
  <% end %>
</div>

<table class="companies">
  <thead>
    <tr>
      <th class="logo">로고</th>
      <th class="flickr_url">Flickr 이미지</th>
      <th class="booth_code">부스번호</th>
      <th class="name">업체명</th>
      <th class="category">참가분야</th>
      <th class="priority">순위</th>
      <th class="drafted_at">상태</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <%= render "admin/companies/tr_company", :company => company %>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@companies) %>

<script type="text/javascript">
$("batch_upload_link").observe("click", function(event){
  $(event.target).replace("Now processing..");
});
</script>
