<h1>비디오 관리</h1>

<div class="action_container">
  <%= link_to 'New Video', new_admin_video_path %>
</div>

<table class="videos">
  <thead>
    <tr>
      <th class="title">제목</th>
      <th class="stream_url">URL</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td class="title"><%= video.title %></td>
        <td class="stream_url"><%= video.stream_url %></td>
        <td class="actions">
          <%= link_to 'Edit', edit_admin_video_path(video) %>
          <%= link_to 'Destroy', [:admin, video], :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@videos) %>
