
<%= form_for [:admin, @photo], :html => { :multipart => true, :class => "table_form" } do |f| %>

  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this admin_photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :car_id, "연관된 차" %>
    <%= f.select :car_id, car_collection, :include_blank => true %>
    <span class="hint">차를 지정하시면, 모바일 앱에서 차량의 사진으로 보여지 됩니다.</span>
  </div>
  <div class="field">
    <%= f.label :racing_model_id, "연관된 레이싱 모델" %>
    <%= f.select :racing_model_id, racing_model_collection, :include_blank => true %>
    <span class="hint">레이싱 모델을 지정하시면, 모바일 앱에서 모델의 사진으로 보여지 됩니다.</span>
  </div>
  <div class="field">
    <%= f.label :image_raw, "사진" %>
    <%= f.file_field :image_raw %>
  </div>
  <div class="image_preview">
    <% if @photo.image_raw.file? %>
      <%= image_tag @photo.image_raw.url(:thumb, false) %>
    <% end %>
  </div>

<!--
  <div class="field">
    <%= f.label :thumb_url, "Photo URL (Thumb)" %>
    <%= f.text_field :thumb_url %>
  </div>
  <div class="field">
    <%= f.label :large_url, "Photo URL (Large)" %>
    <%= f.text_field :large_url %>
  </div>
-->


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
