<h2>사진관리</h2>

<ul class="guide">
  <li>사진 정보를 관리합니다.</li>
  <li>사진을 모델이나 차와 연결시킬 수 있습니다.</li>
  <li>모델 또는 차와 연관되지 않은 경우는 전시회 사진으로 보여지게 됩니다.</li>
  <li>모바일 앱에서 차, 모델, 전시회 사진으로 쓰이는 사진입니다.</li>
</ul>

<div class="action_container">
  <%= link_to '사진등록', new_admin_photo_path %>
</div>

<table class="photos">
  <thead>
    <tr>
      <th class="photo">사진</th>
      <th class="car">연관된 차</th>
      <th class="racing_model">연관된 모델</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td class="photo"><%= image_tag photo.image_raw.url(:thumb, false) %></td>
        <td class="car"><%= display_photo_car_info(photo) %></td>
        <td class="racing_model"><%= display_photo_racing_model_info(photo) %></td>
        <td class="actions">
          <%= link_to 'Edit', edit_admin_photo_path(photo) %>
          <%= link_to 'Destroy', [:admin, photo], :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@photos) %>

