
<%= form_for [:admin, @racing_model], :html => { :multipart => true, :class => "table_form" } do |f| %>

  <% if @racing_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@racing_model.errors.count, "error") %> prohibited this admin_racing_model from being saved:</h2>

      <ul>
      <% @racing_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id, "소속 업체" %>
    <%= f.select :company_id, grouped_options_for_select(grouped_company_collection, @racing_model.company_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :name, "이름" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birth, "생일" %>
    <%= f.text_field :birth %>
  </div>
  <div class="field">
    <%= f.label :blood_type, "혈액형" %>
    <%= f.text_field :blood_type %>
  </div>
  <div class="field">
    <%= f.label :height, "신장" %>
    <%= f.text_field :height %>
    <span class="hint">단위까지 적어주세요. 예) 172cm</span>
  </div>
  <div class="field">
    <%= f.label :weight, "몸무게" %>
    <%= f.text_field :weight %>
    <span class="hint">단위까지 적어주세요. 예) 70kg</span>
  </div>
  <div class="field">
    <%= f.label :dress_size, "의상사이즈" %>
    <%= f.text_field :dress_size %>
    <span class="hint">단위까지 적어주세요.</span>
  </div>
  <div class="field">
    <%= f.label :bwh, "신체사이즈" %>
    <%= f.text_field :bwh %>
  </div>
  <div class="field">
    <%= f.label :shoe_size, "신발사이즈" %>
    <%= f.text_field :shoe_size %>
    <span class="hint">단위까지 적어주세요.</span>
  </div>
  <div class="field">
    <%= f.label :hobby, "취미" %>
    <%= f.text_field :hobby %>
  </div>
  <div class="field">
    <%= f.label :homepage_url, "미니홈피 URL" %>
    <%= f.text_field :homepage_url %>
    <span class="hint">예) http://cyworld.com/foo</span>
  </div>
  <div class="field">
    <%= f.label :fan_site_url, "팬 카페 URL" %>
    <%= f.text_field :fan_site_url %>
    <span class="hint">예) http://cafe.daum.new/bar</span>
  </div>
  <div class="field">
    <%= f.label :career_desc, "경력사항" %>
    <%= f.text_area :career_desc, :size => "40x8" %>
  </div>

  <div class="field">
    <%= f.label :image_raw, "사진" %>
    <%= f.file_field :image_raw %>
    <span class="hint"> </span>
  </div>
  <div class="image_preview">
    <% if @racing_model.image_raw.file? %>
      <%= image_tag @racing_model.image_raw.url(:thumb, false) %>
    <% end %>
  </div>

  <!--
  <div class="field">
    <%= f.label :photo_thumb_url, "사진 URL(Thumb)" %>
    <%= f.text_field :photo_thumb_url %>
  </div>
  <div class="field">
    <%= f.label :photo_large_url, "사진 URL(Large)" %>
    <%= f.text_field :photo_large_url %>
  </div>
  -->


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
