<% racing_model = racing_model %>
<%= content_tag_for :tr, racing_model do %>
  <td class="photo"><%= image_tag racing_model.image_raw.url(:thumb, false) %></td>
  <td class="flickr_url"><%= display_racing_model_flickr_image(racing_model) %></td>
  <td class="company"><%= display_company_name(racing_model.company) %></td>
  <td class="name"><%= racing_model.name %></td>
  <td class="photos"><%= link_to racing_model.photos.size, admin_photos_path(:racing_model_id => racing_model.id) %></td>
  <td class="published"><%= display_published_status(racing_model.published) %></td>
  <td class="actions">
    <% if racing_model.image_raw_file_name && racing_model.photo_large_url.nil? %>
      <%= link_to 'Upload to Flickr', upload_to_flickr_admin_racing_model_path(racing_model), :remote => true %>
    <% end %>
    <%= link_to 'Edit', edit_admin_racing_model_path(racing_model) %>
    <%= link_to 'Destroy', [:admin, racing_model], :confirm => 'Are you sure?', :method => :delete %>
  </td>
<% end %>
